@model Mooshak2.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "C++ Compile test page";
}

<div class="page-header">
    <h1>@Model.Title</h1>
    <h2>@DateTime.Now</h2>
</div>

<a href="~/Code/@Model.Course/@Model.Title/@(Model.Title).pdf" download>Download pdf</a>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Submit", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {   <select class="form-control" id="milestoneSelect" name="milestoneSelect">
                @foreach (var mstone in Model.Milestones)
                {
                    <option value="@mstone.Title">@mstone.Title</option>
                }
            </select>
            <input type="file" id="file" name="file" accept=".cpp,.zip"
                   required="required" />
            <label for="file">.zip, .cpp</label>
            <br/>
            <input type="Submit" class="btn btn-primary" value="Compile Test Code" />
        }

        @if (ViewBag.Output != null)
        {
            <p>@ViewBag.Output</p>
        }
    </div>
    <br />
    <style>
        .wrong {
            color:red;
        }
    </style>
    <div class="col-md-4">
    </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Problem</th>
                    <th>Result</th>
                    <th>Time</th>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var milestone in Model.Milestones)
            {
                foreach(var submission in milestone.Submissions)
                {
                    <tr><td>@User.Identity.Name</td>
                        <td>@submission.Milestone</td>
                        @if (submission.Result == "Wrong answer" || submission.Result == "Compile error")
                        {
                            <td style="color:red;">@submission.Result</td>
                        }
                        else 
                        {
                        <td style="color:green;">@submission.Result</td>        
                        }
                        <td>@submission.Time</td>
                        <td>@submission.Course</td>
                        <td><button class="btn btn-xs" onclick="submissionResults(@submission.ID)">view</button></td>
                    </tr>
                }
            }
            </tbody>

        </table>
</div>
