@model Mooshak2.Models.ViewModels.SubmissionViewModel

<div class="page-header">
    <h1>@Model.Assignment : @Model.Milestone</h1>
    <p>@Model.Output</p>
</div>
<div class="page-header">
    @if (Model.Result == "Accepted")
    {
        <p style="background:green;">@Model.UserOutput</p>
    }
    else
    {
        <p>@Model.UserOutput</p>
    }
</div>
<a href="~/Code/@Model.Course/@Model.Assignment/@Model.Milestone/@Model.Title/@Model.Time.Value.ToString("yyyyMMddTHHmmss")/@Model.Title\.zip" class="btn btn-primary" download>Download your code</a>


