@model Mooshak2.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "C++ Compile test page";
}

<div class="page-header">
    <h1>@Model.Title</h1>
    <h2>@DateTime.Now</h2>
</div>


<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Submit", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {   <select class="form-control" id="milestoneSelect" name="milestoneSelect">
                @foreach (var mstone in Model.Milestones)
                {
                    <option value="@mstone.Title">@mstone.Title</option>
                }
            </select>
            <input type="file" name="file" required="required" />
            <input type="Submit" class="btn btn-primary" value="Compile Test Code" />
        }

        @if (ViewBag.Output != null)
        {
            <p>@ViewBag.Output</p>
        }
    </div>
    <br />
    <div class="col-md-4">
    </div>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Problem</th>
                <th>Result</th>
                <th>Time</th>
                <th>Course</th>
            </thead>
            <tbody>
                <td>Verkefni 1</td>
                <td>Part A</td>
                <td>Accepted</td>
                <td>@DateTime.Now</td>
                <td>@Model.Title</td>
            </tbody>

        </table>
</div>
