@model Mooshak2.Models.Entities.Course

@{
    ViewBag.Title = "Create Course";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    if (ViewBag.result == "Course already exists!")
    {
        <div class="alert alert-warning" role="alert">
            <p>@ViewBag.result</p>
        </div>
    }
    if (ViewBag.result == "Course successfully created!")
    {
        <div class="alert alert-success" role="alert">
            <p>@ViewBag.result</p>
        </div>
    }


    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                <br />
                <!--taken of getbootstrap.com-->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Assign Teachers
                                    @foreach(var ass in User)
                                    {
                                        @if (ass.IsinRole("Teacher"))
                                        {
                                            <input type="checkbox" value=ass.ID />
                                            @Html.LabelFor(model => model.ID)
                                        }
                                    }
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>List of teachers</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Assign Students
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                     
                                <p>List of students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
